<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <div class="d-flex">

      <aside class="sidebar sticky-top d-flex flex-column bg-light vh-100 pt-5 pb-6">

        <h1 class="logo mb-6 ml-6">
          <a href="#" class="logo__img" style="background-image: url(./assets/images/logo-ANSWER.svg); width: 151px;">
            ANSWER
          </a>
        </h1>

        <div class="list-group-flush list-unstyled">
          
          <a href="dashboard.html" class="list-group-item list-group-item-action font-weight-bold border-bottom-0 py-1 pl-6 mb-4 disabled">
            <i class="material-icons align-bottom mr-3">assessment</i>Dashboard
          </a>
        
        
          <a href="question.html" class="list-group-item list-group-item-action font-weight-bold border-bottom-0 py-1 pl-6 mb-4 disabled">
            <i class="material-icons align-bottom mr-3">question_answer</i>Question
          </a>
        
        
          <a href="assignment.html" class="list-group-item list-group-item-action font-weight-bold border-bottom-0 py-1 pl-6 mb-4">
            <i class="material-icons align-bottom mr-3">assignment</i>Assignment
          </a>
        
        
          <a href="course.html" class="list-group-item list-group-item-action font-weight-bold border-bottom-0 py-1 pl-6 mb-4 disabled">
            <i class="material-icons align-bottom mr-3">video_library</i>Course
          </a>
        
        
          <a href="admin.html" class="list-group-item list-group-item-action font-weight-bold border-bottom-0 py-1 pl-6 mb-4">
            <i class="material-icons align-bottom mr-3">supervisor_account</i>Admin
          </a>
        
        
          <a href="setting.html" class="list-group-item list-group-item-action font-weight-bold border-bottom-0 py-1 pl-6 mb-4 disabled">
            <i class="material-icons align-bottom mr-3">settings</i>Settings
          </a>
          
        </div>
        <!-- admin -->
        <div class="media mt-auto ml-6">
          <div class="avatar mr-4" style="background-image: url(https://images.unsplash.com/photo-1514794749374-fb67509dbb7f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2000&q=80);"></div>
          <div class="media-body">
            <h6 class="font-weight-bold my-0">Andy Chen</h6>
            <p class="text-secondary">andy0401@mail.com</p>
          </div>
        </div>
      </aside>

      <main class="flex-fill py-6 px-5">
        <%- contents %>
      </main>
    </div>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>